@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    BC style is a clothing enterprise that have sold more than 1 millions goods. </p>
    <p>BC just lanuch its brand in 2015 and have continuous to grow in large number of demand. 
</p>
