@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    <p>
        Location: <br />
    1234 Lake Drive<br />
    Milwaukee, WI <br />98052-6399<br />
        </p>
</address>

<address>
    <strong><p>Customer Support: <br /><abbr title="Phone">P:</abbr>
    425.555.0100</p></strong>   <a href="mailto:BCStyle@gmail.com">BCstyle@gmail.com</a><br />
</address>