body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color : black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menubar
{
   vertical-align: middle;
   display: inline-block;
}

.btn-default
{
    border-color: none;

}

.homepage
{
    width: 100%;

}

.cart{
    color: white;
}

#categories
{
    color:white;
}

.table {
    color:white;
    border-style: none;
}

label{
    color:white;
}

.container{
    width: 60%;
}

p{
    color:white;
}

h2{
    color:white;
}

form {
    color:white;
}

li {
    list-style: none;
}

h3 {
    color:white;
}

h4{
    color:white;
}

strong {
    color:black;
}

textarea{
    margin-top: 100px;
    width: 600px;
}

#display{
    color:white;
}